.contact_page {
    display: flex;
    height: 100vh;

    justify-content: center;
    align-items: center;

    form {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;

        input {
            width: 20rem;
            padding: 0.5rem 1rem;
        }

        button {

            width: 10rem;
        }
    }
}