@use "../utilities/colors.scss" as clr;

.contact_page {
    display: flex;

    position: absolute;
    top: 10rem;
    right: 0px;
    bottom: 0px;
    left: 0px;
    justify-content: center;
    align-items: center;

    form {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;

        input {
            width: 20rem;
            padding: 1rem 1rem;
        }

        button {

            font-weight: 520;
            // color: ;
            text-align: center;
            width: 10rem;
        }
    }
}