@use "../utilities/colors.scss" as clr;

.nav-bar {

    background-color: clr.$theme-color;

    &_stage1 {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &_logo {
            width: 16rem;
            // background-color: black;

            padding: 0px 3rem;

            img {
                // display: none;
                margin-top: 1rem;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &_searchbar {
            margin: 1.3rem 3rem;

            input {
                width: 24rem;
                height: 1.5rem;
                position: relative;

                outline: none;
                border: none;
                padding: 0px 1.4rem;
                background-color: clr.$box-color;
                border-radius: 5px;


            }

            button {
                position: relative;
                // top: 1.4rem;
                // right: 2rem;

                color: #ff791f;
                outline: none;
                font-size: 10px;
            }
        }
    }

    &_stage2 {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &_route1 {
            padding: 0.6rem 0.5rem;

            a {
                text-decoration: none;
                color: clr.$text-color;
                margin-left: 3rem;
                transition: 500ms;

                &:hover {
                    transition: 500ms;
                    font-size: 18px;

                    // text-decoration: underline;
                }


            }

            .login {
                background-color: clr.$text-color;
                color: clr.$theme-color;
                padding: 0.4rem 1rem;
                font-weight: 600;
                border-radius: 5px;
                transition: 500ms;

                &:hover {
                    background-color: clr.$theme-color;
                    border: 2px solid clr.$text-color;
                    transition: 500ms;
                    color: clr.$text-color;
                    font-size: 16px;

                }
            }
        }

        &_route2 {
            padding: 0rem 4rem;

            .no-cart {
                position: absolute;
                top: 6rem;
                left: 71.5rem;
                font-size: 12px;

            }

            button {
                background-color: transparent;
                border: none;
                outline: none;
                color: clr.$theme-text;
                padding: 0px 2rem;
                cursor: pointer;
            }

            a {
                text-decoration: none;
                color: clr.$theme-text;
                margin-left: 3rem;
                font-weight: 600;
                transition: 500ms;


                &:hover {
                    transition: 500ms;
                    font-size: 18px;

                    // text-decoration: underline;
                }
            }
        }
    }
}

.cart {
    position: absolute;
    left: 47rem;
    width: 28rem;
    height: 25rem;
    overflow-y: scroll;
    background-color: clr.$box-color;
    padding: 1rem 1rem;
    text-align: center;
    z-index: 20;
    border-radius: 8px;

    &_items {
        display: flex;
        justify-content: space-between;
        padding: 1rem 2rem;
        align-items: center;
        background-color: white;
        margin: 1rem 0rem;

        p {
            font-size: 17px;
            font-weight: 600;
            cursor: pointer;

        }


    }
}

.btn {
    text-align: center;
    margin: 2rem 0px;
}