@use "../utilities/colors.scss" as clr;

.rent_page {
    display: flex;
    justify-content: center;

    .rent {
        width: 90%;
        box-shadow: 1px 1px 6px clr.$theme-text;
        // background-color: black;
        margin: 2rem 0rem;

    }

    .rent-btn {
        margin: 1.5rem 0rem;


        button {
            background-color: clr.$theme_color;
            color: clr.$text-color;
            padding: 0.1rem 3rem;
        }
    }

    &_info {
        display: flex;
        justify-content: space-around;
        align-items: center;

        &_img {
            max-width: 25rem;

            img {
                width: 100%;
                object-fit: cover;
            }
        }

        &_spec {
            ul {

                li {
                    list-style-type: none;
                    margin: 1rem 1rem;
                }
            }
        }
    }


    &_detail {


        form {

            display: flex;
            justify-content: center;
            align-items: center;

            input {
                width: 30rem;
            }
        }

        .order-btn {

            width: 9rem;

        }

        button {
            // background-color: clr.$theme_color;
            color: clr.$text-color;
            //     height: 2rem;
            margin: 0px 2rem;

        }
    }
}

.date-picker {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0%;
    background-color: #ffffffed;
    z-index: 1;
    height: 100vh;
    width: 100%;




    input {
        // width: 50%;
    }
}