@use "../utilities/colors.scss" as clr;

.rent_page {
    &_info {
        display: flex;
        justify-content: space-around;
        align-items: center;

        &_img {
            max-width: 30rem;

            img {
                width: 100%;
                object-fit: cover;
            }
        }
    }

    &_detail {
        margin: 2rem 1rem;

        form {

            display: flex;
            justify-content: center;
            align-items: center;

            input {
                width: 30rem;
            }
        }

        .order-btn {

            width: 9rem;
            
        }

        button {
            background-color: clr.$theme_color;
            color: clr.$text-color;
            height: 2rem;
            margin: 0px 2rem;
        }
    }
}